{% extends 'nav.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container pt-5">
    <blockquote class="blockquote text-white" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        Hi, I am Tanmoy Sarkar here, a fresher engineering student, pursuing “B.Tech in Computer Science Engineering” graduation course program from “Budge Budge Institute of Technology” under the University of “Maulana Abul Kalam Azad University of Technology”. Also a former student of “Diploma in Computer Science & Technology” course program from “Budge Budge Institute of Technology” under the University of “West Bengal Board of “West Bengal State Council of Technical & Vocational Education and Skill Development”. 
        <p class="pt-3">My Subject of Interest in basically <strong><i>Networking</i></strong> but I am also comfortable in coding and designing platform, have also done basics projects during my college session as an assessment program.</p>
    </blockquote>
</div>
{% endblock body %}