{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block body %} 
<div class="container" style="max-width: 800px;">
      <p class="fs-3 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Resume</p>
      <div class="card border-light">
        <div class="card-header fs-5 fw-bold rounded bg-secondary text-dark">
          <img src="/static/images/profile-user.png" class="rounded" style="max-width: 25px;">&nbsp;&nbsp;<i>Profile</i>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title">Tanmoy Sarkar</h4>
              <div class="card-text">
                <p class="text">Address: - {{Contact}} </p>
                <p class="text">Contact: - {{Contact}}</p>
                <p class="text">Email ID: - {{Contact}}</p>
                <p class="text">Github ID: - SarkarTanmoy04</p>
              </div>
            </div>
            <div class="col">
              <img src="/static/images/Photo.jpg" class="rounded mx-auto d-block" style="max-width:inherit; max-height: 175px;">
            </div>
          </div>
        </div>
      </div>
      <div class="card border-light">
        <div class="card-header fs-5 fw-bold rounded bg-secondary text-dark">
          <img src="/static/images/mortarboard.png" class="rounded" style="max-width: 25px;">&nbsp;&nbsp;<i>Academics</i>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Institution</th>
                  <th scope="col">University</th>
                  <th scope="col">Year of Passing</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>B.Tech in Computer Science Engineering</td>
                  <td>Budge Budge Institute of Technology</td>
                  <td>Maulana Abul Kalam Azad University of Technology</td>
                  <td>Pursuing</td>
                </tr>
                <tr>
                  <td>Diploma in Computer Science & Technology</td>
                  <td>Budge Budge Institute of Technology</td>
                  <td>West Bengal State Council of Technical Education</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <td>Higher Secondary</td>
                  <td>G.B.Memorial Institution</td>
                  <td>West Bengal Council of Higher Secondary Education</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <td>Madhyamik</td>
                  <td>G.B.Memorial Institution</td>
                  <td>West Bengal Board of Secondary Education</td>
                  <td>2014</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card border-light">
        <div class="card-header fs-5 fw-bold rounded bg-secondary text-dark">
          <img src="/static/images/skill.png" class="rounded" style="max-width: 25px;">&nbsp;&nbsp;<i>Skill Sets</i>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text">Completed Ethical Hacking Traning from Internshala Training</li>
            <li class="list-group-item text">Completed Python Programming & Software Design For Absolute Beginners from Udemy</li>
            <li class="list-group-item text">Completed Soft Skills from NPTEL Online Course with 60% marks</li>
            <li class="list-group-item text">Completed Advance Diploma in Computer Hardware & Network from All Indian Council of
              Computer Education with 76.44 % marks</li>
            <li class="list-group-item text">Completed Diploma in Computer Application from Ramakrishna Education & Technological
              Institute with Grade: A</li>
          </ul>
        </div>
      </div>
      <div class="card border-light">
        <div class="card-header fs-5 fw-bold rounded bg-secondary text-dark">
          <img src="/static/images/knowledge.png" class="rounded" style="max-width: 25px;">&nbsp;&nbsp;<i>Domain Knowledge</i>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-horizontal-sm text-center">
            <li class="list-group-item flex-fill">C Programming</li>
            <li class="list-group-item flex-fill">C++</li>
            <li class="list-group-item flex-fill">Java</li>
            <li class="list-group-item flex-fill">Python</li>
            <li class="list-group-item flex-fill">HTML</li>
            <li class="list-group-item flex-fill">CSS</li>
          </ul>
          <ul class="list-group list-group-horizontal-sm text-center">
            <li class="list-group-item flex-fill">Bootstrap</li>
            <li class="list-group-item flex-fill">Hardware & Network</li>
            <li class="list-group-item flex-fill">Basic Software Testing</li>
          </ul>
        </div>
        
      </div>
</div>
{% endblock body %}
    